<!DOCTYPE html>
<html>
<head>
  <title>ProjectConversation</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
  <%= render 'layouts/nav' %>
<% end %>
<%= turbo_frame_tag "modal" %>
<%= yield %>
</body>
</html>